.white_button {
    background-color: white;
    color: crimson;
    border: 2px solid crimson;
    margin-top: 1px;
    height: 80%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

.white_button:hover {
    background-color: crimson;
    color: white;
    border: 2px solid white;
    transition: background-color 0.5s ease; /* Плавный переход цвета */
}


input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Opera */
}


.red_button{
    background-color: crimson;
    color: white;
    border: 2px solid white;
    margin-top: 1px;
    height: 80%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease; /* Плавный переход цвета */
}

.red_button:hover {
    background-color: white;
    color: crimson;
    border: 2px solid crimson;
    transition: background-color 0.5s ease; /* Плавный переход цвета */
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: deepskyblue
}

a:visited {
    color: deepskyblue
}

a:hover {
    color: orange;
}


.skill-button {
    background-color: #fff; /* Белый фон для кнопок навыков */
    color: #C70000; /* Красный текст */
    padding: 10px;
    border: 1px solid #C70000;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.skill-button.selected {
    background-color: #C70000; /* Красный фон для выбранных кнопок */
    color: white; /* Белый текст для выбранных кнопок */
}




:root {
  --primary-color: #dc2626;
  --primary-hover: #b91c1c;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --white: #ffffff;
}

input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid black;
  border-radius: 0.375rem;
  color: var(--red-900);
  background-color: var(--white);
  transition: all 0.15s ease-in-out;
}

input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.1);
}


h1, h2, h3, p{
    color: gray;
}


#notification-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 1000; /* Убедитесь, что уведомления поверх других элементов */
}

.notification {
    background-color: seagreen; /* Зеленый цвет для успешных уведомлений */
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-20px); /* Начальное положение для анимации */
}

.notification.show {
    opacity: 1;
    transform: translateY(0); /* Конечное положение для анимации */
}