<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{% if user_type == 'worker' %}
    {% extends 'base_worker/base_worker.html' %}
{% elif user_type == 'employer' %}
    {% extends 'base_employer/base_employer.html' %}
{% else %}
    {% extends 'base_worker/base_worker.html' %}
{% endif %}
{% block content %}
<body>
<p>
<pre id="text_description_vacancy" style="font-size: 30px">
Обязанности:
 —
 —
Требования:
 —
 —
Условия:
 —
</pre>
</p>

<script type="module" src="/frontend/pages/vacancy/vacancy.js"></script>
</body>
{% endblock %}
</html>