<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поэтапная регистрация</title>
    <link rel="stylesheet" href="/frontend/templates/pages/registarion/css_step-by-step_registration.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>

    </style>
</head>
<body>

<div id="registrationForm">
    <div class="step active" id="step1">
        <h2>Введите ФИО</h2>
        <input type="text" id="surname" placeholder="Фамилия" required>
        <input type="text" id="name" placeholder="Имя" required>
        <input type="text" id="patronymic" placeholder="Отчество" required>
        <div class="navigation">
            <button id="next1">Далее</button>
        </div>
    </div>

    <div class="step" id="step2">
        <h2>Введите номер телефона</h2>
        <input type="tel" id="phone" name="phone" placeholder="+7 (999) 999-99-99"
               pattern="\+7 $$\d{3}$$ \d{3}-\d{2}-\d{2}" required>
        <div class="navigation">
            <button id="prev1">Назад</button>
            <button id="next2">Далее</button>
        </div>
    </div>

    <div class="step" id="step3">
        <h2>Введите дата рождения</h2>
        <input type="date" id="date_bithday" required>
        <div class="navigation">
            <button id="prev2">Назад</button>
            <button id="next3">Далее</button>
        </div>
    </div>

    <div class="step" id="step4">
        <h2>Введите город</h2>
        <input type="text" id="city" required>
        <div class="navigation">
            <button id="prev3" class="cancel"> Назад</button>
            <input id="complete_reg" class="btn" type="button" value="Завершить" onclick="insert_data_for_profile()">
        </div>
    </div>
</div>
<script type="module" src="/frontend/templates/pages/registarion/js_step-by-step_registration.js"></script>
</body>
</html>