<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поэтапная регистрация</title>
    <link rel="stylesheet" href="/frontend/pages/auth/signup/employer/step_by_step/employer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
{% extends 'base_employer/base_employer.html' %}
{% block content %}
<body>
<div id="registrationForm">
    <div class="step active" id="step1">
        <h2>Введите ФИО</h2>
        <input type="text" id="surname" placeholder="Фамилия" required>
        <input type="text" id="name" placeholder="Имя" required>
        <input type="text" id="patronymic" placeholder="Отчество" required>
        <div class="navigation">
            <button class="red_button" id="next1">Далее</button>
        </div>
    </div>

    <div class="step" id="step2">
        <h2>Введите номер телефона</h2>
        <input type="tel" id="phone" name="phone" placeholder="+7 (999) 999-99-99"
               pattern="\+7 $$\d{3}$$ \d{3}-\d{2}-\d{2}" required>
        <div class="navigation">
            <button id="prev3" class="white_button"> Назад</button>
            <input id="complete_reg" class="red_button" type="button" value="Завершить" onclick="insert_data_for_profile()">
        </div>
    </div>
    <script type="module" src="/frontend/pages/auth/signup/employer/step_by_step/employer.js"></script>
</div>
</body>
{% endblock %}
</html>