body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    flex-direction: column;
}

.choose{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    gap: 25px;
}

.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: crimson;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.logo img {
    height: 70px;
    width: 110px;

}

.right_side_header{
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
}

.logo_profile{
    display: flex;
    margin-right: 30px;
    height: 50px;
    width: 50px;
}


.content {
    min-width: 100vh;
    min-height: 100vh;
}


a{
    text-decoration: none;
}

a:link {
    color: deepskyblue
}

a:visited {
    color: deepskyblue
}

a:hover {
    color: orange;
}

.disabled_link{
    cursor: not-allowed;
    pointer-events: none;
    color: gray;
}

.disabled_link:visited{
    color: gray;
}


.footer {
  background-color: #f8f8f8;
  color: #333;
  padding: 40px 0 20px;
  font-family: Arial, sans-serif;
  margin-top: 3%
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #333333;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: orange;
}

.social-links {
  display: flex;
  gap: 15px;
}

#social-link{
    color: #f2f2f2;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
  background-color: #333333;
  transform: translateY(-3px);
}

.social-link svg {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 30px;
  }
}

.div_my_links{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    gap: 20px;
}

#link_my_feedbacks{
    font-size: 18px;
    color: #333333;
}


#link_my_feedbacks:hover{
    color: #f2f2f2;
}

#link_my_invites{
    font-size: 18px;
    color: #333333;
}


#link_my_invites:hover{
    color: #f2f2f2;
}



