<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/frontend/pages/auth/signup/worker/signup/worker.css">
    <title>Регистрация</title>
</head>
{% extends 'base_worker/base_worker.html' %}
{% block content %}
<body>
    <div class="container_worker" id="container_worker">
        <div class="login-box">
            <h2>Регистрация соискателя</h2>
            <form id="registrationForm">
                <div class="textbox">
                    <input type="text" id="login"placeholder="Электронная почта" required>
                </div>
                <div class="textbox">
                    <input type="password" id="password" placeholder="Пароль" required>
                </div>
                <div class="textbox" >
                    <input type="password" id="confirm_password" placeholder="Повторите пароль" required>
                </div>
                <input id="reg_btn" class="red_button" type="button" value="Зарегистрироваться" onclick="regisration()">
                <div class="link_for_login">
                    <p>Уже зарегистрированы?  </p>
                    <a class="link_for_reg" href="{{ url_for('login_page') }}">Войти</a>
                </div>
            </form>
        </div>
    </div>
    <div class="container_check_code" id="container_check_code" style="display: none;">
        <div class="login-box">
            <h2>Регистрация соискателя</h2>
            <h3>Мы отправили код на вашу почту</h3>
            <p>Напишите его, чтобы подтвердить, что это вы, а не кто-то другой входит в личный кабинет</p>
            <div class="textbox">
                <input type="text" placeholder="Введите код" id="code" required>
            </div>
            <input class="red_button" type="button" id="check_btn" value="Подтвердить" onclick="check_code()">
        </div>
    </div>

    <script type="module"  src="/frontend/pages/auth/signup/worker/signup/worker.js"></script>
</body>
{% endblock %}
</html>