body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

main {
    display: flex;
    justify-content: center; /* Выравнивание по центру */
    padding: 20px;
}

#resume-container {
    width: 40%; /* Ширина контейнера резюме */
    display: flex;
    flex-direction: column; /* Выравнивание резюме в колонку */
    gap: 20px; /* Промежуток между резюме */
}

.resume {
    background: #fff;
    border: 2px solid #c8102e; /* Красная рамка */
    border-radius: 5px;
    padding: 15px;
    transition: box-shadow 0.3s;
    width: 100%; /* Ширина блока резюме 100% от контейнера */
}

.resume:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume h2 {
    margin: 0;
    color: #c8102e; /* Красный цвет заголовка */
}

.resume p {
    margin: 5px 0;
    color: #333; /* Цвет текста */
}

/* Новый стиль для описания */
.resume .description {
    font-style: italic; /* Курсив для описания */
    color: #555; /* Более светлый цвет текста */
    font-size: 1.1em; /* Увеличение размера шрифта для описания */
}

/* Стиль для кнопки */
.edit-button {
    background-color: #c8102e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    height: 50px;
}

.edit-button:hover {
    background-color: #a60f2e; /* Темнее при наведении */
}