<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование вакансии</title>
    <link rel="stylesheet" href="/frontend/pages/vacancy/edit/vacancy.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.2/tinymce.min.js"></script>
</head>
{% extends 'base_employer/base_employer.html' %}
{% block content %}
    <body>
    <div class="body_container">
        <h1 class="new_vacancy">Редактирование вакансии</h1>
        <h3 class="main_info">Основная информация</h3>
        <div class="fields_for_data">
            <div class="field_title">
                <label class="title_vacancy">Название вакансии</label>
                <form id="jobForm" class="input_for_title_vacancy">
                    <input type="text" id="jobInput" placeholder="Введите название..." autocomplete="off">
                    <div id="jobsDropdown" class="dropdown"></div>
                </form>
            </div>
            <div class="field_description">
                <label class="description_vacancy">Описание</label>
                <textarea id="input_for_description_vacancy" class="input_for_description_vacancy" required="">
                </textarea>
            </div>
            <div class="field_salary">
                <label class="salary_vacancy">Возможный доход</label>
                <div class="inputs_for_salary">
                    <input type="number" class="input_for_first_salary" id="input_for_first_salary" placeholder="От">
                    <input type="number" class="input_for_second_salary" id="input_for_second_salary" placeholder="До">
                </div>
            </div>
            <div class="field_city">
                <label class="city_vacancy">Город</label>
                <input type="text" class="input_for_city_vacancy" id="input_for_city_vacancy" required="">
            </div>
            <div class="form-group" id="form-group">
                <div class="label_skills">
                    <label>Требуемые навыки</label>
                </div>
                <div id="skillsList" class="skills-list"></div>

            </div>

            <div class="btns">
                <input id="cancel_btn" class="white_button" type="button" value="Отменить">
                <input id="add_vacancy_btn" class="red_button" type="button" value="Сохранить" onclick="put_vacancy()">
            </div>
        </div>
        <script type="module" src="/frontend/pages/vacancy/edit/vacancy.js"></script>
    </div>
    </body>
{% endblock %}
</html>