body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 600px;
    margin-top: 80px;
    margin-left: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.skill-button {
    background-color: #fff; /* Белый фон для кнопок навыков */
    color: #C70000; /* Красный текст */
    padding: 10px;
    border: 1px solid #C70000;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.skill-button.selected {
    background-color: #C70000; /* Красный фон для выбранных кнопок */
    color: white; /* Белый текст для выбранных кнопок */
}

.step {
    display: none; /* Скрываем все этапы по умолчанию */
}

.active {
    display: block; /* Показываем активный этап */
}

.experienceEntry {
    margin-bottom: 20px; /* Отступ между блоками опыта */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Цвет фона блоков опыта */
}

.selected-skills-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Цвет фона для контейнера выбранных навыков */
    display: flex; /* Используем flexbox для выравнивания кнопок */
    flex-wrap: wrap; /* Позволяем кнопкам переноситься на новую строку */
}

.selected-skill-button {
    margin: 5px; /* Отступы между кнопками */
    padding: 5px 10px;
    background-color: #007BFF; /* Цвет фона для кнопок выбранных навыков */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.selected-skill-button:hover {
    background-color: #0056b3; /* Темно-синий при наведении */
}
textarea{
    resize: none;
}

#btns_resumes{
    width: 24%;
    font-size: 14px;
}