<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Компания</title>
    <link rel="stylesheet" href="/frontend/pages/company/company.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.2/tinymce.min.js"></script>
</head>
{% if user_type == 'worker' %}
    {% extends 'base_worker/base_worker.html' %}
{% elif user_type == 'employer' %}
    {% extends 'base_employer/base_employer.html' %}
{% else %}
    {% extends 'base_worker/base_worker.html' %}
{% endif %}
{% block content %}
    <body>
    <div class="container_all">
        <div class="title_company_container">
            <div class="company_name">
                <h2>Компания</h2>
                <h1 id="company_name"></h1>
            </div>
            <div class="rating-container">
                <span class="rating-value" id="rating-value">0.0</span>
                <div class="stars" id="stars">★★★★★</div>
                <a class="reviews-count" id="reviews-count">0 отзывов</a>
            </div>
            <div class="modal" id="reviews-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Отзывы о компании</h2>
                        <button class="close-button" id="close-modal">&times;</button>
                    </div>
                    <div class="review-form">
                        <h3>Оставить отзыв</h3>
                        <form id="new-review-form">
                            <div class="form-group">
                                <label>Ваша оценка</label>
                                <div class="star-rating">
                                    <input type="radio" id="star5" name="rating" value="5" required>
                                    <label for="star5">★</label>
                                    <input type="radio" id="star4" name="rating" value="4">
                                    <label for="star4">★</label>
                                    <input type="radio" id="star3" name="rating" value="3">
                                    <label for="star3">★</label>
                                    <input type="radio" id="star2" name="rating" value="2">
                                    <label for="star2">★</label>
                                    <input type="radio" id="star1" name="rating" value="1">
                                    <label for="star1">★</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="review-text">Ваш отзыв</label>
                                <textarea id="review-text" required></textarea>
                            </div>

                            <button type="submit" class="submit-button">Отправить отзыв</button>
                        </form>
                    </div>
                    <div class="reviews-list" id="reviews-list">
                        <div class="no-reviews" id="no-reviews">Пока нет отзывов. Будьте первым!</div>
                    </div>

                    <div class="pagination" id="pagination-container"></div>


                </div>
            </div>
            <div class="container_buttons">
                <input type="button" value="О компании" class="btn" id="switch_description"
                       onclick="showForm('desc_form', this)">
                <input type="button" value="Вакансии" class="btn" id="switch_vacancy"
                       onclick="showForm('vac_form', this)">
                <input type="button" value="Изменить описание" class="btn" id="can_update"
                       onclick="showForm('upd_form', this)">
            </div>
        </div>
        <div class="form_container" id="desc_form">
            <p id="company_description"></p>
        </div>
        <div class="form_container" id="vac_form">
            <div id="vacancies-container"></div>
        </div>
        <div class="form_container" id="upd_form">
            <div class="update_container">
                <textarea id="company_description_update"></textarea>
                <input id="edit_btn" type="button" value="Сохранить" onclick="update_company()" class="red_button">
            </div>

        </div>
    </div>
    <script type="module" src="/frontend/pages/company/company.js"></script>
    </body>
{% endblock %}
</html>