<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/frontend/pages/company/company.css">
</head>
{% extends 'base_employer/base_employer.html' %}
{% block content %}
    <body>
    <div class="container_all">
        <div class="title_company_container">
            <div class="company_name">
                <p> Компания </p>
                <h1 id="company_name"></h1>
            </div>
            <div class="container_buttons">
                <input type="button" value="О компании" class="btn" id="switch_description"
                       onclick="showForm('desc_form', this)">
                <input type="button" value="Вакансии" class="btn" id="switch_vacancy"
                       onclick="showForm('vac_form', this)">
                <input type="button" value="Изменить описание" class="btn" id="can_update"
                       onclick="showForm('upd_form', this)">
            </div>
        </div>
        <div class="form_container" id="desc_form">
            <p id="company_description"></p>
        </div>
        <div class="form_container" id="vac_form">
            <div id="vacancies-container"></div>
        </div>
        <div class="form_container" id="upd_form">
            <div class="update_container">
                <textarea id="company_description_update"></textarea>
                <input type="button" value="Отправить" onclick="update_company()" class="btn_upd_form">
            </div>
        </div>
    </div>
    <script type="module" src="/frontend/pages/company/company.js"></script>
    </body>
{% endblock %}
</html>