<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/frontend/templates/pages/auth/css_reg_worker.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="container_worker" id="container_worker">
        <div class="login-box">
            <h2>Регистрация соискателя</h2>
            <form id="registrationForm">
                <div class="textbox">
                    <input type="text" id="login"placeholder="Электронная почта" required>
                </div>
                <div class="textbox">
                    <input type="password" id="password" placeholder="Пароль" required>
                </div>
                <div class="textbox" >
                    <input type="password" id="confirm_password" placeholder="Повторите пароль" required>
                </div>
                <input type="button" value="отправить" onclick="auth()">
                <div class="link_for_login">
                    <p>Уже зарегистрированы?  </p>
                    <a class="link_for_reg" href="{{ url_for('login_page') }}">Войти</a>
                </div>
            </form>
        </div>
    </div>
{#    <div class="container_check_code" id="container_check_code" style="display: none;">#}
{#        <h2>Регистрация соискателя</h2>#}
{#        <h3>Мы отправили код на вашу почту</h3>#}
{#        <p>Напишите его, чтобы подтвердить, что это вы, а не кто-то другой входит в личный кабинет</p>#}
{#        <div class="textbox">#}
{#            <input type="password" placeholder="Повторите пароль" required>#}
{#        </div>#}
{#        <button class="btn" type="submit" id="checkcode">Подтвердить</button>#}
{#    </div>#}
<script type="module"  src="/frontend/templates/pages/auth/js_reg_worker.js"></script>
</body>
</html>