<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/frontend/pages/vacancy/one/vacancy.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вакансия</title>
</head>
{% if user_type == 'worker' %}
    {% extends 'base_worker/base_worker.html' %}
{% elif user_type == 'employer' %}
    {% extends 'base_employer/base_employer.html' %}
{% else %}
    {% extends 'base_worker/base_worker.html' %}
{% endif %}
{% block content %}
<body>
<div id="vacancy-container" class="vacancy-container">
    <div class="main_info">
        <div class="first_str">
            <h1 id="title_vacancy"></h1>
            <div id="btn_delete" style="display: none"></div>
        </div>

        <div class="company-info">
            <a id="link_company" class="link_company" ><h2 id="name_company"></h2></a>
            <p id="city_vacancy"></p>
            <p id="salary_vacancy"></p>
        </div>
        <a class="red_button" id="otlik_btn"></a>

    </div>
    <div class="vacancy-details">
        <div class="label_skills">
            <label>Описание</label>
        </div>
        <p id="description_vacancy" class="description_vacancy"></p>
    </div>
    <div class="form-group" id="form-group">
        <div class="label_skills">
            <label>Требуемые навыки</label>
        </div>
        <div id="skillsList" class="skills-list"></div>

    </div>
</div>
<script type="module" src="/frontend/pages/vacancy/one/vacancy.js"></script>
</body>
{% endblock %}
</html>