<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/frontend/pages/resume/one/resume.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резюме</title>
</head>
{% if user_type == 'worker' %}
    {% extends 'base_worker/base_worker.html' %}
{% elif user_type == 'employer' %}
    {% extends 'base_employer/base_employer.html' %}
{% else %}
    {% extends 'base_worker/base_worker.html' %}
{% endif %}
{% block content %}
<body>
<div id="vacancy-container" class="vacancy-container">
    <div class="main_info">
        <div class="first_str">
            <h1 id="title"></h1>
            <div id="btn_delete" style="display: none"></div>
        </div>

        <div class="company-info">
            <p id="city"></p>
            <p id="salary"></p>
        </div>
        <a class="red_button" id="otklik_btn">Написать</a>
    </div>
    <div class="vacancy-details">
        <p id="description" class="description_"></p>
    </div>

</div>
<script type="module" src="/frontend/pages/resume/one/resume.js"></script>
</body>
{% endblock %}
</html>