<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/frontend/pages/resume/one/resume.css">
</head>
{% if user_type == 'worker' %}
    {% extends 'base_worker/base_worker.html' %}
{% elif user_type == 'employer' %}
    {% extends 'base_employer/base_employer.html' %}
{% else %}
    {% extends 'base_worker/base_worker.html' %}
{% endif %}
{% block content %}
    <body>
    <div class="resume-container">
        <div class="title_container">
            <h2>Основная информация</h2>
            <ul>
                <p id="title"><strong>Название:  </strong></p>
                <p id="salary"></p>
                <p id="city"><strong>Город:  </strong></p>
            </ul>
            <button class="red_button" id="edit_btn" style="display: none">Редактировать</button>
        </div>
        <div class="section">
            <h2>Описание</h2>
            <div class="description_container">
                <p id="description">
                    Опытный фронтенд-разработчик с 5-летним стажем. Специализируюсь на создании современных и отзывчивых
                    пользовательских интерфейсов. Работал с такими технологиями, как HTML5, CSS3, JavaScript, React и
                    Redux. Участвовал в разработке крупных проектов для клиентов из сферы электронной коммерции и
                    финансов. Постоянно совершенствую свои навыки и слежу за трендами в веб-разработке.
                </p>
            </div>
        </div>
    </div>
    <script type="module" src="/frontend/pages/resume/one/resume.js"></script>
    </body>
{% endblock %}
</html>